.hero {
    width: 100%;
    height: 690px;
    background-image: url(../Recording\ BG.webp);
    background-position: bottom;
    background-size: cover;
}
.imggrid {
    display: flex;
    gap: 1px;
    color: black;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    justify-content: center;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    max-width: 278px;
    max-height: 278px;
    min-width: 278px;
    min-height: 278px;
    flex: 1 0 15%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}