body {
    font-family: 'Roboto-slab';
    background-color: black;
}
@font-face {
    font-family: 'Roboto-slab';
    src: url(../RobotoSlab-VariableFont_wght.ttf);
}

nav {
    display: flex;
    background-color: rgb(28, 32, 43);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
}

.link {
    padding: 10px;
    float: left;
    font-size: 24px;
    color: rgb(180, 180, 180);
    text-decoration: none;
}
.link:hover {
    color: #ffffff;
    text-decoration: underline cyan;
    text-underline-offset: 7px;
}

footer {
    color: rgb(180, 180, 180);
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    font-size: 15px;
}
footer a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}
footer a:hover{
    color: #ffffff;
    text-decoration: underline cyan;
    text-underline-offset: 7px;
}