* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 .App {
 width: 100vw;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}
.Tabs {
 position: absolute;
 top: 700px;
 width: 100%;
 height: 5%;
 min-height: 20px;
 background: #18181c;
 padding: 2rem 1rem;
 color: #E8F0F2;
 @media (max-width: 769px) {
  padding: 2rem 0;
 }
}
ul.nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 20%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-radius: 25px;
  margin: 5px;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}
.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}